<div class="overlay"></div>
<div class="landing-page">
    <div class="main-container clearfix">
      <div class="content-container">
        <div class="first-text">Welcome.</div>
        <div class="second-text">We are so glad you're here.</div>
        <div class="third-text">
          Team up with the fastest growing, most comprehensive food and drink media property ever. Collaborate with, inspire, and educate the top-notch 75+ person editorial team at The Daily Meal, led by eight-time James Beard Award winner Colman Andrews, one of the most respected culinary writers and editors in the world. The award winning Daily Meal covers all things food and drink, and we're excited about working together to make a difference in the space. To finalize the application process, please complete the steps.
        </div>
        <div class="fourth-text">You are just three steps away from joining the Culinary Content Network!</div>
        <div class="list-item">
          <span class="list-number">1.</span>
          <span class="list-item-text">Complete comScore's Traffic Assignment Letter.</span>
        </div>
        <div class="list-item">
          <span class="list-number">2.</span>
          <span class="list-item-text">Install The Daily Meal's Culinary Content Network branding on your blog.</span>
        </div>
        <div class="list-item">
          <span class="list-number">3.</span>
          <span class="list-item-text">(Optional) Complete the Publisher Agreement for our Culinary Content Ad Network.</span>
        </div>
        <div class="start-button-container"><a href="submission/step1" class="start-button">Start Now</a></div>
      </div>
    </div>
</div>