<div class="white-overlay"></div>
<div class="step-page step3">
    <div class="main-container-steps clearfix">
      <div class="step-title">Step 3 <span>(Optional)</span></div>
      <div class="step-subtitle">Put your content to work for you.</div>
      <div class="form-container">
        <div class="main-text">You have complete control over the types of ads displayed, so you can be confident that advertisements align with your values and that of your blog. For example, if you mantain a vegan blog, you would likely want to avoid advertising any products that contain meat. With CCAN, you can ensure that the ads displayed are ones you're proud to share, and you're given another opportunity to monetize your blog. Once you sign the agreement and install the ad tags you can start earning revenue. There is no need to take down any of your existing ads - you can add CCAN alongside Google Adsense or any other ad provider.<br>
          All information is confidential. Our team will review your publisher application within 2 business days.<br>
          Upon approval you will be able to integrate ads and have access to your own publisher account center, for which you will receive an email with login info once approved.
          <div class="start-button-container"><a href="https://www.burstmedia.com/admin/adminnet/signup/signup.aspx?c=493" class="start-button">Sign up for the Ad Network</a></div>
        </div>
        </div>
      </div>
    </div>
</div>