<div class="white-overlay"></div>
<div class="step-page step2">
    <div class="main-container-steps clearfix">
      <div class="step-title">Step 2</div>
      <div class="step-subtitle">Set yourself apart.</div>
      <div class="form-container">
        <div class="main-text">In a deep landscape filled with tons and tons of content, it's important to stand out from the pack. The Daily Meal is  known throughout the industry, and our small mark of approval immediately establishes legitimacy and a standard of high quality for a first time visitor to your site.
        </div>
        <div class="secondary-text">You will need to embed either a thin banner (hat) accross the top of your site, or a small badge in the top right corner that says "Daily Meal Culinary Content Network Member". An example of the header is here on this page, see above, and an <a class="step2-link" href="http://www.boxesandjars.com/edamame-shrimp-dumplings/" target="blank">example of the badge can be found here</a>. Both the badge and banner are mobile responsive, so they drop to the bottom of the page when your site is viewed on mobile, as not to obscure the most important components: your title and content!
          <a class="step2-link lower" href="../tdm_wordpress_instructions.pdf" target="blank">Wordpress Instructions</a>
          <a class="step2-link lower" href="../tdm_blogger_instructions.pdf" target="blank">Blogger Instructions</a>
          <div class="step2-last-text">Please let us know if you are using another hosting platform.</div>
          <div class="start-button-container"><a href="step3" class="start-button">Continue</a></div>
        </div>
      </div>
    </div>
</div>