<div class="overlay"></div>
<div class="landing-page">
    <div class="main-container clearfix">
      <div class="content-container">
        <div class="first-text thank-you">Thank you for joining!</div>
        <div class="third-text thank-you">
          Our team will review your submission within two business days.<br>
          You can look forward to an e-mail from us very soon.<br>
          We invite you to browse our Cook Channel which features a fellow Culinary Content Network memeber as the Blogger Spotlight each week.
        </div>
        <div class="start-button-container"><a href="http://www.thedailymeal.com/cook" class="start-button">Let's Get Cooking!</a></div>
      </div>
    </div>
</div>